@page
@model Intex_II_Section4_Team12.Pages.DatabaseAdminModel

@section Head {
    <partial name="_StylesPartial" />
}
<!-- #masthead -->
      <div id="content" class="site-content">
        <div class="ast-container">
          <div id="primary" class="content-area primary">
            <main id="main" class="site-main">
              <article
                class="post-1142 page type-page status-publish ast-article-single"
                id="post-1142"
                itemtype="https://schema.org/CreativeWork"
                itemscope="itemscope"
              >
                <header
                  class="entry-header ast-no-thumbnail ast-no-title ast-header-without-markup"
                ></header>
                <!-- .entry-header -->
                <div class="entry-content clear" itemprop="text">
                  <div
                    data-elementor-type="wp-page"
                    data-elementor-id="1142"
                    class="elementor elementor-1142"
                  >
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-abc096d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="abc096d"
                      data-element_type="section"
                      data-settings='{"background_background":"classic"}'
                    >
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eaf5779"
                          data-id="eaf5779"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-widget-wrap elementor-element-populated"
                          >
                            <div
                              class="elementor-element elementor-element-6826ee0 elementor-widget elementor-widget-spacer"
                              data-id="6826ee0"
                              data-element_type="widget"
                              data-widget_type="spacer.default"
                            >
                              <div class="elementor-widget-container">
                                <style>
                                  /*! elementor - v3.12.1 - 02-04-2023 */
                                  .elementor-column .elementor-spacer-inner {
                                    height: var(--spacer-size);
                                  }
                                  .e-con {
                                    --container-widget-width: 100%;
                                  }
                                  .e-con-inner > .elementor-widget-spacer,
                                  .e-con > .elementor-widget-spacer {
                                    width: var(
                                      --container-widget-width,
                                      var(--spacer-size)
                                    );
                                    --align-self: var(
                                      --container-widget-align-self,
                                      initial
                                    );
                                    --flex-shrink: 0;
                                  }
                                  .e-con-inner
                                    > .elementor-widget-spacer
                                    > .elementor-widget-container,
                                  .e-con-inner
                                    > .elementor-widget-spacer
                                    > .elementor-widget-container
                                    > .elementor-spacer,
                                  .e-con
                                    > .elementor-widget-spacer
                                    > .elementor-widget-container,
                                  .e-con
                                    > .elementor-widget-spacer
                                    > .elementor-widget-container
                                    > .elementor-spacer {
                                    height: 100%;
                                  }
                                  .e-con-inner
                                    > .elementor-widget-spacer
                                    > .elementor-widget-container
                                    > .elementor-spacer
                                    > .elementor-spacer-inner,
                                  .e-con
                                    > .elementor-widget-spacer
                                    > .elementor-widget-container
                                    > .elementor-spacer
                                    > .elementor-spacer-inner {
                                    height: var(
                                      --container-widget-height,
                                      var(--spacer-size)
                                    );
                                  }
                                </style>
                                <div class="elementor-spacer">
                                  <div class="elementor-spacer-inner"></div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-2aff371 elementor-widget elementor-widget-heading"
                              data-id="2aff371"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <style>
                                  /*! elementor - v3.12.1 - 02-04-2023 */
                                  .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1;
                                  }
                                  .elementor-widget-heading
                                    .elementor-heading-title[class*="elementor-size-"]
                                    > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit;
                                  }
                                  .elementor-widget-heading
                                    .elementor-heading-title.elementor-size-small {
                                    font-size: 15px;
                                  }
                                  .elementor-widget-heading
                                    .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px;
                                  }
                                  .elementor-widget-heading
                                    .elementor-heading-title.elementor-size-large {
                                    font-size: 29px;
                                  }
                                  .elementor-widget-heading
                                    .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px;
                                  }
                                  .elementor-widget-heading
                                    .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px;
                                  }
                                </style>
                                <h2
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  Database Management
                                </h2>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-b5333ba elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                              data-id="b5333ba"
                              data-element_type="widget"
                              data-widget_type="divider.default"
                            >
                              <div class="elementor-widget-container">
                                <style>
                                  /*! elementor - v3.12.1 - 02-04-2023 */
                                  .elementor-widget-divider {
                                    --divider-border-style: none;
                                    --divider-border-width: 1px;
                                    --divider-color: #0c0d0e;
                                    --divider-icon-size: 20px;
                                    --divider-element-spacing: 10px;
                                    --divider-pattern-height: 24px;
                                    --divider-pattern-size: 20px;
                                    --divider-pattern-url: none;
                                    --divider-pattern-repeat: repeat-x;
                                  }
                                  .elementor-widget-divider .elementor-divider {
                                    display: flex;
                                  }
                                  .elementor-widget-divider
                                    .elementor-divider__text {
                                    font-size: 15px;
                                    line-height: 1;
                                    max-width: 95%;
                                  }
                                  .elementor-widget-divider
                                    .elementor-divider__element {
                                    margin: 0 var(--divider-element-spacing);
                                    flex-shrink: 0;
                                  }
                                  .elementor-widget-divider .elementor-icon {
                                    font-size: var(--divider-icon-size);
                                  }
                                  .elementor-widget-divider
                                    .elementor-divider-separator {
                                    display: flex;
                                    margin: 0;
                                    direction: ltr;
                                  }
                                  .elementor-widget-divider--view-line_icon
                                    .elementor-divider-separator,
                                  .elementor-widget-divider--view-line_text
                                    .elementor-divider-separator {
                                    align-items: center;
                                  }
                                  .elementor-widget-divider--view-line_icon
                                    .elementor-divider-separator:after,
                                  .elementor-widget-divider--view-line_icon
                                    .elementor-divider-separator:before,
                                  .elementor-widget-divider--view-line_text
                                    .elementor-divider-separator:after,
                                  .elementor-widget-divider--view-line_text
                                    .elementor-divider-separator:before {
                                    display: block;
                                    content: "";
                                    border-bottom: 0;
                                    flex-grow: 1;
                                    border-top: var(--divider-border-width)
                                      var(--divider-border-style)
                                      var(--divider-color);
                                  }
                                  .elementor-widget-divider--element-align-left
                                    .elementor-divider
                                    .elementor-divider-separator
                                    > .elementor-divider__svg:first-of-type {
                                    flex-grow: 0;
                                    flex-shrink: 100;
                                  }
                                  .elementor-widget-divider--element-align-left
                                    .elementor-divider-separator:before {
                                    content: none;
                                  }
                                  .elementor-widget-divider--element-align-left
                                    .elementor-divider__element {
                                    margin-left: 0;
                                  }
                                  .elementor-widget-divider--element-align-right
                                    .elementor-divider
                                    .elementor-divider-separator
                                    > .elementor-divider__svg:last-of-type {
                                    flex-grow: 0;
                                    flex-shrink: 100;
                                  }
                                  .elementor-widget-divider--element-align-right
                                    .elementor-divider-separator:after {
                                    content: none;
                                  }
                                  .elementor-widget-divider--element-align-right
                                    .elementor-divider__element {
                                    margin-right: 0;
                                  }
                                  .elementor-widget-divider:not(
                                      .elementor-widget-divider--view-line_text
                                    ):not(
                                      .elementor-widget-divider--view-line_icon
                                    )
                                    .elementor-divider-separator {
                                    border-top: var(--divider-border-width)
                                      var(--divider-border-style)
                                      var(--divider-color);
                                  }
                                  .elementor-widget-divider--separator-type-pattern {
                                    --divider-border-style: none;
                                  }
                                  .elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line
                                    .elementor-divider-separator,
                                  .elementor-widget-divider--separator-type-pattern:not(
                                      .elementor-widget-divider--view-line
                                    )
                                    .elementor-divider-separator:after,
                                  .elementor-widget-divider--separator-type-pattern:not(
                                      .elementor-widget-divider--view-line
                                    )
                                    .elementor-divider-separator:before,
                                  .elementor-widget-divider--separator-type-pattern:not(
                                      [class*="elementor-widget-divider--view"]
                                    )
                                    .elementor-divider-separator {
                                    width: 100%;
                                    min-height: var(--divider-pattern-height);
                                    -webkit-mask-size: var(
                                        --divider-pattern-size
                                      )
                                      100%;
                                    mask-size: var(--divider-pattern-size) 100%;
                                    -webkit-mask-repeat: var(
                                      --divider-pattern-repeat
                                    );
                                    mask-repeat: var(--divider-pattern-repeat);
                                    background-color: var(--divider-color);
                                    -webkit-mask-image: var(
                                      --divider-pattern-url
                                    );
                                    mask-image: var(--divider-pattern-url);
                                  }
                                  .elementor-widget-divider--no-spacing {
                                    --divider-pattern-size: auto;
                                  }
                                  .elementor-widget-divider--bg-round {
                                    --divider-pattern-repeat: round;
                                  }
                                  .rtl
                                    .elementor-widget-divider
                                    .elementor-divider__text {
                                    direction: rtl;
                                  }
                                  .e-con-inner > .elementor-widget-divider,
                                  .e-con > .elementor-widget-divider {
                                    width: var(--container-widget-width, 100%);
                                    --flex-grow: var(
                                      --container-widget-flex-grow
                                    );
                                  }
                                </style>
                                <div class="elementor-divider">
                                  <span class="elementor-divider-separator">
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <style>
                        .centercss{
                            text-align:center;
                        }
                        .table-containter{
                            overflow-x: auto;
                        }
                        .tablewidth{
                            border-collapse: collapse;
                            width: 500%;
                        }
                        table{
                            table-layout:fixed;
                            border-collapse: collapse;
                            width: 500%;
                                        overflow-x: auto;
                        }
                        th, td {
                            border: 1px solid #ddd;
                            padding: 8px;
                            text-align: left;
                            overflow-x: auto;
                        }

                        th {
                            background-color: #f2f2f2;
                        }

                      </style>
                      <form method="get" action="/Create">
                        <div class="centercss">
                            <button type="submit">Create New Record</button>
                        </div>
                        </form>
                        <br />
                        <div class="table-container">
                        <table class="table tablewidth">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Squarenorthsouth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Headdirection)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Sex)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Northsouth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Depth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Eastwest)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Adultsubadult)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Facebundles)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Southtohead)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Preservation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Fieldbookpage)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Squareeastwest)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Goods)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Text)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Wrapping)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Haircolor)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Westtohead)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Samplescollected)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Area)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Burialid)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Length)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Burialnumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Dataexpertinitials)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Westtofeet)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Ageatdeath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Southtofeet)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Excavationrecorder)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Photos)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Hair)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Burialmaterials)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Dateofexcavation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Fieldbookexcavationyear)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Clusternumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Burialmain[0].Shaftnumber)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Burialmain)
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><br />
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a><br />
                                                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a><br />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Squarenorthsouth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Headdirection)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Northsouth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Depth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eastwest)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Adultsubadult)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Facebundles)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Southtohead)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Preservation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fieldbookpage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Squareeastwest)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Goods)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Text)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Wrapping)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Haircolor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Westtohead)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Samplescollected)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Area)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Burialid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Length)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Burialnumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dataexpertinitials)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Westtofeet)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ageatdeath)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Southtofeet)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Excavationrecorder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Photos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Hair)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Burialmaterials)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dateofexcavation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fieldbookexcavationyear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Clusternumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shaftnumber)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </section>
                  </div>
                </div>
                <!-- .entry-content .clear -->
              </article>
              <!-- #post-## -->
            </main>
            <!-- #main -->
          </div>
          <!-- #primary -->
        </div>
        <!-- ast-container -->
      </div>
      <!-- #content -->

<br />
<br />
<br />
<br />

<p>
    <a asp-page="Create">Create New Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Squarenorthsouth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Headdirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Northsouth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Eastwest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Adultsubadult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Facebundles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Southtohead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Preservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Fieldbookpage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Squareeastwest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Goods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Wrapping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Haircolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Westtohead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Samplescollected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Burialid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Burialnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Dataexpertinitials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Westtofeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Ageatdeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Southtofeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Excavationrecorder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Photos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Hair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Burialmaterials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Dateofexcavation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Fieldbookexcavationyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Clusternumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialmain[0].Shaftnumber)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Burialmain) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><br />
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a><br />
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a><br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Squarenorthsouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headdirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Northsouth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eastwest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adultsubadult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebundles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Southtohead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fieldbookpage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Squareeastwest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wrapping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haircolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Westtohead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Samplescollected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dataexpertinitials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Westtofeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ageatdeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Southtofeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excavationrecorder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialmaterials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateofexcavation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fieldbookexcavationyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clusternumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shaftnumber)
            </td>
        </tr>
}
    </tbody>
</table>
